.conteudo__formulario{
    text-align: center;
}
.card__formulario {
    width: 99%;
    height: 100%;
    background-color: #FFFFFF;
    margin: 5em auto;
    color: black;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 60% 40%;
    border-radius: 100px;
    box-shadow: 10px 10px 10px black;
}

.card__inputs{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* display: none; */
}

.card__inputs .select {
    padding: 10px 20px;
    border: #000000 solid 2px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.card__inputs--botao {
    padding: 10px 17%;
    margin: 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background-color: #00c8c8;
    border-radius: 100px;
    border: #000000 solid 2px;
}

.card__inputs--botao:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.imagem__formulario{
    grid-column: 2;
    box-sizing: border-box;
    /* display: none; */
}

.imagem__formulario img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    box-sizing: border-box;
}

.carregamento {
    display: none;
}

.carregamento img {
    width: 50px;
    height: 50px;
}
.conteudo__personagem{
    width: 99%;
    height: 100%;
    background-color: #FFFFFF;
    margin: 5em auto;
    color: black;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 100px;
    display: none;
    box-shadow: 10px 5px 5px black;
}

.card__personagem {
    grid-column: 1;
    text-align: center;
    font-size: 24px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__personagem img {
    width: 44px;
    height: 44px;
}
.imagem__personagem {
    grid-column: 2;
}

.imagem__personagem img{
    width: 100%;
    height: 100%;
}



.voltar{
    padding: 10px 17%;
    margin: 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background-color: #00c8c8;
    border-radius: 100px;
    border: #000000 solid 2px;
    cursor: pointer;    
}


#erro_escolha{
    color: red;
    font-weight: bold;
    font-size: 16px;
    display: none;
}