:root {
    --azul__cabecalho: #06054E
    
}
body {
    margin: 0;
}

.index {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #000000;
    /* background-image: url("../img/23257.jpg"); */
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 100%;
    background-color: #0e0d53;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
}
.header h1 {
    font-size: 55px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    margin: 0 0 0 10px;
}
.cabecalho__botoes {
    padding: 0 4em;
}

.cabecalho__botoes a {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #0BC4E2;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.banner {
    display: flex;
    margin-top: 10px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    /* background-image: url("../img/udyr.banner.svg"); */
    background-position: center;
    background-repeat: no-repeat;
}
.bannergif{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    text-align: center;

}

.bannergif img{
    border-radius: 10px;
}


.banner__formulario {
    text-align: center;
    display: flex;
    background-color: #001637;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    color: #FFFFFF;
    border: #B4AEAE solid 1px;
    border-radius: 10px;
    padding: 0.5em 0;
    padding: 0em 5em;
    margin-right: 10px;
}

.banner__formulario p {
    color: #D2CCCC;
}

.banner__formulario a {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #52A0B9;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.sobre {
    background-color: #001637;
    text-align: center;
    width: 97.5%;
    margin: auto;
    margin-top: 10px;
    height: 200px;
    border: #B4AEAE solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sobre h2 {
    color: #FFFFFF;
    font-size: 40px;
    text-transform: uppercase;
}

.sobre p{
    color:#D2CCCC;
}
.sobre a {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #0BC4E2;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.mapa {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    width: 95.7%;
    border-radius: 10px;
    border-bottom: 5px solid #FFFFFF;
}
.mapa__texto {
    /* border: #B4AEAE solid 1px; */
    border-radius: 10px;
    text-align: center;
    width: 62%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2em;
}
.mapa__texto h2 {
    font-size: 30px;
    text-transform: uppercase;
}
.mapa__texto p {
    color: #D2CCCC;
    font-size: 20px;
    margin: 10px 0;
}

.footer {
    background-color: #111111;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    color: #7E7E7E;
}
